{% extends "template.html" %}

{% block title %}| offers{% endblock title %}

{% block body %}

<div class="container">

    <div class="container text-center ">
        <div class="row">
            <div class="col my-3">
                <div class="card" style="width: 400px;">
                    <img src="https://fastly.picsum.photos/id/1079/500/700.jpg?hmac=lA4YUAPbA79H7ZZMnV7hMfIIKcNM8T_l5UK-A8YanZU" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col my-3">
                <div class="card" style="width: 400px;">
                    <img src="https://fastly.picsum.photos/id/621/500/700.jpg?hmac=xBJk1syPKtpJ8Lq6RMoA8jsKra2Nty2vlQef_zLhq-k" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col my-3">
                <div class="card" style="width: 400px;">
                    <img src="https://fastly.picsum.photos/id/788/500/700.jpg?hmac=GaVL2UsxZlRJlDa9PS2R1uRTVcgVRtjDqu9XRJTmPd8" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock body %}